<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/normalize.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="javascripts/jquery-ui-1.10.4.custom.js"></script>
  <script src="javascripts/main.js"></script>
</head>
  <body id="decora-zone">
    <div class="center">
      <img src="<%=picture%>">
      <img class="sticker" src="images/stickers/s-rainbow.png">
      <img class="sticker" src="images/stickers/s-pink.png">
    </div>
  </body>
</html>