<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/whatever"> 
    	<input type="text" name="firstname">
    	<input type="submit" name="kill me">
    </form>
  </body>
</html>